::before,
::after {
    box-sizing: border-box;
}

body {
	background-color: #e7eba9;
	margin: 0;
}

.wrapper {
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
	/* padding: 10px; */
	display: grid;
	grid-template-columns: 25% 75%;

}

.tweet_hover .tweet_text {
	margin-top: 1em;
}
header {
	border-bottom: solid #ff7f34 .1em;
}
.double_content {
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
	/* padding: 10px; */
	display: grid;
	grid-template-columns: 25% 600px;
	background-color: #ffffff;
}


.single_wrap {
	width: 700px;
	max-width: 100%;
	margin: 3em auto;
	background-color: #ffffff;
	padding: 20px 10px;
	border-radius: 8px;
}

.double_wrap {
	width: 750px;
	max-width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 10px;
	padding: 30px 5px 20px 5px;
	border-radius: 20px;
}

.single_content {
	width: 500px;
	max-width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
}

.single_content .tweet_card {
	width: 450px;
}

.tweet_textarea {
	min-height: 150px;
}

.tweet_text .tweet_textarea {
	max-width: 450px;
	min-width: 450px;
}
.single_content .tweet_textarea {
	max-width: 350px;
	min-width: 350px;
}
.content {
	/* display: grid;
	grid-template-columns: 25% 70%; */
	
}

.tweetcenter {
	margin: 0 auto;
	text-align: center;
}

/* Tweet card grid  */
.tweet_card {
	display: grid;
	margin: .5em auto;
	grid-template-columns: 85px auto;
}

.single_wrap h1 {
	text-align: center;
}

.single_wrap .form {
	text-align: center;
}

.single_wrap .form input {
	margin: 1em auto;
}

.single_wrap .form .textareabio {
	display: block;
	margin: 0 auto;
}

.single_wrap .tweet_button {
	margin-left: 1.6em;
}

.tweet_meta {
	text-align: center;
}

@media (max-width: 1000px) {
	.wrapper {
		display: grid;
		margin: 0 auto;
		max-width: 380px;
		height: fit-content;
		width: 100%;
		grid-template-columns: auto;
		grid-template-rows: 10% 90%;
		row-gap: 3em;
		grid-template-areas: 
            "title"
			"form_inline";
    }
	
	.site_title {
		grid-area: title;
		text-align: center;
	}

	.wrapper .form_inline {
		grid-area: form_inline;
		text-align: center;
	}
   
	.accountmenu {
		grid-area: form_inline;
		text-align: center;
	}

}

@media screen and (max-width: 900px) {
	.single_wrap {
		width: 310px;
	}

	.single_wrap .form .textareabio {
		max-width: 200px;
	}

	.tweet_card {
		max-width: 300px;
	}

	.tweet_text .tweet_textarea {
		max-width: 150px;
		min-width: 150px;
		min-height: 75px;
	}

	
	.single_wrap .tweet_button {
		margin-left: 0;
	}

	
	.the_image {
		width: 190px;
		max-height: auto;
	}

	img.the_singleimage {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 180px;
		height: auto;
	}
	.single_wrap .single_tweet .tweet_meta {
		text-align: center;
	}

	.double_wrap {
		width: 300px;
		max-width: 100%;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		grid-row-gap: 80px;
	}

	.tweetform {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 20% 80%;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}

	.double_wrap .single_content .tweetform {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 20% 80%;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}

	.single_content {
		width: 280px;
		
	}


	.single_content img.the_image {
		width: 160px;
		height: auto;
		
	}

	.double_wrap .single_content .tweetform .tweet_text {
		display: block;
		margin: 2em auto 0 auto;
	}

	.single_content .tweet_card {
		width: 250px;
	}
	

	img.profile_avatar {
		max-width: 75px;
		max-height: 75px;
	}

	.image_upload + label {
		font-size: .7em;
	}


	.single_wrap .tweetform .tweet_text {
		margin-top: 2em;
	}
}

@media (max-width: 1000px) {
	
	
	.site_title {
		text-align: center;
	}

	
	header .wrapper .form_inline {
		display: grid;
		text-align: center;
		max-width: 200px;
		margin: 0 auto;
		grid-template-columns: auto;
		grid-template-rows: repeat(4,30px);
		row-gap: .5em;
	}
	
	.wrapper .form_inline .button {
		margin: 0 auto;
		max-width: 80px;
	}
	
	.wrapper .form_inline input {
		margin: 0 auto;
		max-width: 150px;
	}

	.email label {
		margin-top: 1em;
	}
}

.content_area {
	display: grid;
	margin: 0;
	width: 100%;
}

header {
	width: auto;
}

.footer {
	width: auto;
}

@media screen and (min-width: 601px) {
	.single_wrap .tweet_card .tweet_text .the_image {
		display: block;
		margin: 2em auto;
	}

	.double_wrap .single_content .tweet_card .tweet_text .the_image {
		display: block;
		margin: 2em auto;
	}

	.tweet_meta {
		text-align: center;
	}
}